.git
.github
node_modules
vendor
.env
.env.*
!.env.example
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
deployment/production/nginx/ssl/*
